#solution-intro{
  padding: 50px 0;
  background-color: $background-color;
  .left{
    color: $text-color;
    font-size: $font-size-16;
    letter-spacing: $letter-spacing;
    .image{
      img{
        @extend .width-height-100;
        border-radius: $border-radius-15;
      }
    }
  }
  .right{
    .list{
      border: 1px solid $light-color;
      box-shadow: $box-shadow;
      border-radius: $border-radius-15;
      ul{
        margin: 0;
        padding: $padding-0;
        .first{
          background-color: $main-color;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
          a{
            color: $light-color;
          }
        }
        li{
          padding: 20px 0;
          list-style: none;
          border-bottom: 1px solid rgb(219, 219, 219);
          background-color: $light-color;
          span{
            transition: $transition-4s;
          }
          a{
            text-decoration: none;
            color: $title-color;
            i{
              margin: 0 10px;
            }
          }
          &:hover{
            span{
              margin-left: 15px;
            }
          }
        }
      }
    }
  }
  .small-image{
    img{
      border-radius: $border-radius;
      @extend .width-height-100;
    }
  }
  .popup {
    z-index: 888888888;
    @extend .width-height-100;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0000008a;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
      
    .inner {
      position: relative;
      img{
        width: 850px;
        height: 600px;
      }
      .close-icon {
        position: absolute;
        top: -30px;
        right: -20px;
        cursor: pointer;
        i{
          color: $title-color;
          font-size: 35px;
        }
      }
      .arrows {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: absolute;
        width: $width-100;
        top: 45%;
        i{
          cursor: pointer;
          color: $title-color;
          font-size: 35px;
        }
      }
    }
  }
}
