#devider{
    background-image: url(/assets/images/parallax.jpg) ;
    padding: 50px 0;
    background-attachment: fixed;
    z-index: -1;
    position: relative;
    ::after{
        content:" ";
        position: absolute;
        top: 0;
        left: 0;
        background-color: #474bbb38;
        @extend .width-height-100;    
        z-index: -2;    
    }
    .row{
        .content{
            text-align: center;
            margin-top: 5%;
            z-index: 3;
            h2{
                margin-bottom: 50px;
                color: $light-color;
                font-size: $font-size-25;
                span{
                    text-decoration: underline;
                }
            }
            .btn{
                font-size: $font-size-16;
                background-color: $light-color;
                color: $main-color;
                border: none;
            }
        }
    }
}