#about-us-intro{
   padding-top: 100px;
    .container{
        .row{
            .top{
                text-align: center;
                line-height: 30px;
                letter-spacing: $letter-spacing-2;
                h2{
                    color: $title-color;
                    line-height: 80px;
                    font-weight: 400;
                    font-size: $font-size-25;
                }
                p{
                    color: $text-color;
                    font-size: $font-size-14;
                }
            }    
        }
    }
}
