.position, #intro .container .top .images-item .images-3 .icon, #features-intro .container .row .features-box .image-icon::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.width-height-100, #intro .container .top .images-item .image img, #intro .container .top .images-item .images-4 .content, #background::before, #devider ::after, #blog-post .container .blog-box .image img, #solution-intro .left .image img, #solution-intro .small-image img, #solution-intro .popup, #mission .image img, #vision .image img, #page-bottom .container .row .list-tags .box-img .image::after, #blogs-card .container .row .blog-box .image img {
  width: 100%;
  height: 100%;
}

.navbar {
  z-index: 6666666;
  width: 100%;
  position: fixed;
  padding: 20px 0;
  background: #fff;
}

.navbar .nav-logo .navbar-brand {
  line-height: 1;
}

.navbar .nav-logo .navbar-brand img {
  margin-right: 100px;
}

.navbar .nav-logo button.navbar-toggler .custom-navbar-toggler-wrapper {
  cursor: pointer;
  position: relative;
  display: block;
  width: 32px;
}

.navbar .nav-logo button.navbar-toggler .custom-navbar-toggler-wrapper span {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #1e3056;
  display: block;
  width: 30px;
  height: 2px;
}

.navbar .nav-logo button.navbar-toggler .custom-navbar-toggler-wrapper span::before {
  content: "";
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #1e3056;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  width: 75%;
  -webkit-transform-origin: 33% 100%;
          transform-origin: 33% 100%;
  top: -10px;
}

.navbar .nav-logo button.navbar-toggler .custom-navbar-toggler-wrapper span::after {
  content: "";
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #1e3056;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  width: 75%;
  -webkit-transform-origin: 33% 0;
          transform-origin: 33% 0;
  top: 10px;
}

.navbar .nav-logo button.navbar-toggler .custom-navbar-toggler-wrapper.active span {
  background-color: transparent;
  width: 100%;
}

.navbar .nav-logo button.navbar-toggler:focus {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar .collapse {
  margin-left: auto;
}

.navbar .collapse .nav-items ul.navbar-nav .nav-item:hover .dropdown-menu {
  display: block;
}

.navbar .collapse .nav-items ul.navbar-nav li.nav-item a.nav-link {
  padding: 10px 20px;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  color: #6F8BA4;
}

.navbar .collapse .nav-items ul.navbar-nav li.nav-item.dropdown a.nav-link {
  padding-right: 30px;
}

.navbar .collapse .nav-items ul.navbar-nav li.nav-item.dropdown a.nav-link::after {
  font-family: "Font Awesome 5 Free";
  content: "\f107";
  font-size: 10px;
  color: #6f8ba4;
  position: absolute;
  right: 10px;
  top: 14px;
  border: none;
}

.navbar .collapse .nav-items ul.navbar-nav li.nav-item.dropdown a.nav-link::before {
  content: none;
}

.navbar .collapse .nav-items ul.navbar-nav li.nav-item ul.dropdown-menu {
  width: 200px;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  border: none;
  padding: 0px;
  left: 20px;
}

.navbar .collapse .nav-items ul.navbar-nav li.nav-item ul.dropdown-menu li {
  position: relative;
}

.navbar .collapse .nav-items ul.navbar-nav li.nav-item ul.dropdown-menu li a {
  background: #fff;
  color: #1e3056;
  padding: 10px 10px 10px 20px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  font-size: 14px;
  border-bottom: 1px solid #f5f5f5;
}

.navbar .collapse .nav-items ul.navbar-nav li.nav-item ul.dropdown-menu li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #585ce9;
  width: 0px;
  height: 40px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.navbar .collapse .nav-items ul.navbar-nav li.nav-item ul.dropdown-menu li a:hover {
  background: #f5f5f5;
  padding-left: 25px;
}

.navbar .collapse .nav-items ul.navbar-nav li.nav-item ul.dropdown-menu li a:hover::before {
  width: 3px;
}

.navbar .collapse .buttons {
  margin-left: auto;
}

.navbar .collapse .buttons button {
  padding: 6px 30px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 5px;
  border: 1px solid #585ce9;
  margin-left: 15px;
}

.navbar .collapse .buttons button.btn-register:hover {
  color: #585ce9;
}

@media only screen and (max-width: 990px) {
  .navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fff;
    -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  }
  .navbar .nav-logo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar .nav-logo .navbar-toggler {
    border: none;
  }
  .navbar .navbar-collapse .nav-items ul.navbar-nav li.nav-item a.nav-link {
    padding-left: 0;
  }
  .navbar .navbar-collapse .nav-items ul.navbar-nav li.nav-item ul.dropdown-menu {
    width: 100%;
  }
  .navbar .navbar-collapse .buttons {
    display: none;
  }
}

#intro {
  padding-top: 100px;
}

#intro a {
  text-decoration: none;
  color: #6F8BA4;
}

#intro .container .top {
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#intro .container .top .left h2 {
  font-weight: 350;
  line-height: 40px;
  color: #1e3056;
}

#intro .container .top .left h2 span {
  color: #585ce9;
}

#intro .container .top .left p {
  margin: 40px 0px;
  color: #6F8BA4;
  line-height: 30px;
  font-size: 16px;
}

#intro .container .top .left .btn {
  font-size: 14px;
}

#intro .container .top .images-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 8;
  -ms-grid-column: 1;
  grid-area: photo1;
}

#intro .container .top .images-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: photo2;
}

#intro .container .top .images-3 {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  grid-area: photo3;
}

#intro .container .top .images-4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 8;
  -ms-grid-column: 2;
  grid-area: photo4;
}

#intro .container .top .images-item {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
      grid-template-areas: ' photo1 photo2 ' ' photo1 photo4 ' ' photo1 photo4 ' ' photo1 photo4 ' ' photo1 photo4 ' ' photo1 photo4 ' ' photo1 photo4 ' ' photo1 photo4 ' ' photo3 photo4 ';
}

#intro .container .top .images-item .image {
  overflow: hidden;
  border-radius: 5px;
}

#intro .container .top .images-item .image img {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#intro .container .top .images-item .image img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

#intro .container .top .images-item .images-3 {
  position: relative;
  top: 0;
  left: 0;
}

#intro .container .top .images-item .images-3 .icon {
  cursor: pointer;
  font-size: 50px;
  color: #ffffff9e;
  background-color: #ffffff42;
  border-radius: 100%;
}

#intro .container .top .images-item .images-4 {
  position: relative;
}

#intro .container .top .images-item .images-4:hover img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

#intro .container .top .images-item .images-4 .content {
  background-color: #585ce973;
  position: absolute;
  top: 0%;
  left: 0%;
  color: #fff;
}

#intro .container .top .images-item .images-4 .content h4 {
  margin-top: 30%;
}

#intro .container .bottom {
  text-align: center;
}

#intro .container .bottom .box-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#intro .container .bottom .box-card .box {
  width: 90%;
  height: 90%;
  padding: 45px;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

#intro .container .bottom .box-card .box:hover {
  background-color: #585ce9;
}

#intro .container .bottom .box-card .box:hover h5 {
  color: #fff;
}

#intro .container .bottom .box-card .box:hover p {
  color: #fff;
}

#intro .container .bottom .box-card .box .icon i {
  border: 1px solid #e1e9f1;
  border-radius: 100%;
  padding: 10px;
  color: #585ce9;
  background-color: #e1e9f1;
  font-size: 14px;
}

#intro .container .bottom .box-card .box h5 {
  margin: 25px 0px;
}

@media only screen and (max-width: 990px) {
  #intro .top .btn {
    -webkit-transform: translateX(70%);
            transform: translateX(70%);
    margin-bottom: 25px;
  }
  #intro .bottom .box {
    margin-top: 25px;
  }
}

#cloud-services {
  padding: 50px 0px;
  background-color: #e1e9f1;
}

#cloud-services .text {
  width: 80%;
}

#cloud-services .text h3 {
  font-size: 25px;
  letter-spacing: 1px;
  color: #1e3056;
}

#cloud-services .text p {
  margin: 25px 0px;
  color: #6F8BA4;
}

#cloud-services .left .buttons .active {
  margin: 15px 0px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  display: inline-block;
  width: 250px;
  height: 40px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
}

#cloud-services .left .buttons .active span {
  display: inline-block;
  margin-left: 45px;
  color: #6F8BA4;
}

#cloud-services .left .buttons .active i {
  margin: 10px 15px;
  color: #fff;
  z-index: 1;
}

#cloud-services .left .buttons .active ::after {
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  top: -10px;
  left: -40px;
  background-color: #585ce9;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
  z-index: -1;
}

#cloud-services .left .buttons .focus {
  margin: 15px 0px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  display: inline-block;
  width: 250px;
  height: 40px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#cloud-services .left .buttons .focus span {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: inline-block;
  margin-left: 45px;
  color: #6F8BA4;
}

#cloud-services .left .buttons .focus i {
  margin: 10px 15px;
  color: #1e3056;
  z-index: 1;
}

#cloud-services .left .buttons .focus ::after {
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  top: -10px;
  left: -40px;
  background-color: #e1e9f1;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
  z-index: -1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#cloud-services .left .buttons .focus:hover ::after {
  background-color: #585ce9;
  width: 110px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#cloud-services .left .buttons .focus:hover i {
  color: #fff;
}

#cloud-services .left .buttons .focus:hover span {
  margin-left: 55px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#cloud-services .right .box-img {
  margin-top: 5%;
  width: 80%;
}

#cloud-services .right .box-img img {
  margin-left: auto;
  width: 100%;
}

#desing {
  padding: 100px 0;
}

#desing .text {
  width: 80%;
}

#desing .text h3 {
  font-size: 25px;
  letter-spacing: 1px;
  color: #1e3056;
}

#desing .text p {
  margin: 25px 0px;
  color: #6F8BA4;
  font-size: 14px;
}

#desing .left .buttons .active {
  margin: 15px 0px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  display: inline-block;
  width: 250px;
  height: 40px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
}

#desing .left .buttons .active span {
  display: inline-block;
  margin-left: 45px;
  color: #6F8BA4;
}

#desing .left .buttons .active i {
  margin: 10px 15px;
  color: #fff;
  z-index: 1;
}

#desing .left .buttons .active ::after {
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  top: -10px;
  left: -40px;
  background-color: #585ce9;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
  z-index: -1;
}

#desing .left .buttons .focus {
  margin: 15px 0px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  display: inline-block;
  width: 250px;
  height: 40px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#desing .left .buttons .focus span {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: inline-block;
  margin-left: 45px;
  color: #6F8BA4;
}

#desing .left .buttons .focus i {
  margin: 10px 15px;
  color: #1e3056;
  z-index: 1;
}

#desing .left .buttons .focus ::after {
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  top: -10px;
  left: -40px;
  background-color: #e1e9f1;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
  z-index: -1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#desing .left .buttons .focus:hover ::after {
  background-color: #585ce9;
  width: 110px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#desing .left .buttons .focus:hover i {
  color: #fff;
}

#desing .left .buttons .focus:hover span {
  margin-left: 55px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#desing .right .box-img {
  margin-top: 15%;
  width: 80%;
}

#desing .right .box-img img {
  width: 100%;
}

#background {
  background-image: url(/assets/images/parallax.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  z-index: 2;
  padding: 100px 0;
}

#background .item {
  overflow: hidden;
  width: 100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-family: Nunito sans-serif;
  z-index: 5;
}

#background .item:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

#background .item h3 {
  position: relative;
  color: #fff;
  font-size: 40px;
}

#background .item h3::before {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  top: 50px;
  margin: auto;
  width: 115px;
  height: 1px;
  border-top: 1px dashed #fff;
}

#background .item h4 {
  margin-top: 35px;
  color: #fff;
  font-weight: 400;
}

#background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #585ce9;
  z-index: -2;
  opacity: 0.8;
}

@media only screen and (max-width: 990px) {
  #background .item {
    margin-top: 30px;
  }
}

#pricing-plans {
  background-color: #e1e9f1;
  padding: 100px 0;
}

#pricing-plans .container .row .top {
  text-align: center;
  line-height: 30px;
  letter-spacing: 2px;
}

#pricing-plans .container .row .top h1 {
  color: #1e3056;
  line-height: 80px;
  font-weight: 400;
  font-size: 25px;
}

#pricing-plans .container .row .top p {
  color: #6F8BA4;
  font-size: 16px;
}

#pricing-plans .container .row .content {
  border: 1px solid #fff;
  text-align: center;
  background-color: #fff;
  margin-top: 50px;
  position: relative;
}

#pricing-plans .container .row .content .header .title {
  letter-spacing: 2px;
  font-size: 18px;
  color: #1e3056;
  padding: 50px 0;
  border-bottom: 1px solid #e0dbdb;
}

#pricing-plans .container .row .content .header .colored {
  background-color: #585ce9;
}

#pricing-plans .container .row .content .header .number {
  display: inline-block;
  font-size: 25px;
  color: #585ce9;
  border: 1px solid #fff;
  border-radius: 100%;
  padding: 10px 10px;
  text-align: center;
  background-color: #e1e9f1;
  position: absolute;
  top: 18%;
  left: 40%;
  right: 42%;
}

#pricing-plans .container .row .content .header .currency {
  font-size: 25px;
  color: #585ce9;
}

#pricing-plans .container .row .content .header .price {
  font-size: 25px;
  color: #585ce9;
}

#pricing-plans .container .row .content .header .month {
  color: #585ce9;
}

#pricing-plans .container .row .content .body ul li {
  list-style: none;
  margin-bottom: 10px;
  font-size: 14px;
  color: #1e3056;
}

#pricing-plans .container .row .content .body ul .passive {
  text-decoration: line-through;
  color: #b4b0b0;
}

#pricing-plans .container .row .content .body .btn {
  background-color: #585ce9;
  border: none;
  font-size: 14px;
}

#devider {
  background-image: url(/assets/images/parallax.jpg);
  padding: 50px 0;
  background-attachment: fixed;
  z-index: -1;
  position: relative;
}

#devider ::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #474bbb38;
  z-index: -2;
}

#devider .row .content {
  text-align: center;
  margin-top: 5%;
  z-index: 3;
}

#devider .row .content h2 {
  margin-bottom: 50px;
  color: #fff;
  font-size: 25px;
}

#devider .row .content h2 span {
  text-decoration: underline;
}

#devider .row .content .btn {
  font-size: 16px;
  background-color: #fff;
  color: #585ce9;
  border: none;
}

#blog-post {
  padding-top: 50px;
}

#blog-post .container .top {
  text-align: center;
  line-height: 30px;
  letter-spacing: 2px;
}

#blog-post .container .top h1 {
  color: #1e3056;
  line-height: 80px;
  font-weight: 400;
  font-size: 25px;
}

#blog-post .container .top p {
  color: #6F8BA4;
  font-size: 16px;
}

#blog-post .container .blog-box {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#blog-post .container .blog-box .image {
  border: 1px solid #fff;
  border-radius: 10px;
  width: 100%;
  height: 30%;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
}

#blog-post .container .blog-box .image img {
  -o-object-fit: cover;
     object-fit: cover;
}

#blog-post .container .blog-box h3 {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 30px;
  margin: 25px 0;
  color: #6F8BA4;
}

#blog-post .container .blog-box h3 a {
  text-decoration: none;
  color: #1e3056;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#blog-post .container .blog-box h3 a:hover {
  color: #585ce9;
}

#blog-post .container .blog-box p {
  color: #6F8BA4;
}

#blog-post .container .blog-box .btn {
  background-color: #585ce9;
  border: none;
  width: 50%;
  font-size: 16px;
}

#footer {
  background-color: #585ce9;
  padding: 80px 0 0 0;
  color: #fff;
}

#footer p {
  color: #fff;
  margin-top: 50px;
  font-size: 16px;
  line-height: 30px;
}

#footer a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

#footer .box ul {
  padding: 0px;
}

#footer .box ul li {
  list-style: none;
  line-height: 40px;
}

#footer .box ul li span {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#footer .box ul li:hover span {
  margin-left: 10px;
}

#footer .box ul li i {
  margin-right: 5px;
}

#footer h5 {
  font-size: 16px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

#footer span {
  line-height: 50px;
  font-size: 14px;
}

#footer .social-icon ul {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: start;
}

#footer .social-icon ul li {
  list-style: none;
  margin-right: 10px;
}

#footer .social-icon ul li i {
  font-size: 14px;
}

#team {
  padding: 100px 0;
}

#team .container .top {
  text-align: center;
  line-height: 30px;
  letter-spacing: 2px;
}

#team .container .top h1 {
  color: #1e3056;
  line-height: 80px;
  font-weight: 400;
  font-size: 25px;
}

#team .container .top p {
  color: #6F8BA4;
  font-size: 16px;
}

#team .container .cards {
  margin: 50px 0px;
  position: relative;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
}

#team .container .cards ::after {
  content: " ";
  position: absolute;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 70px;
  z-index: -2;
  border: 1px solid #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#585ce9));
  background-image: linear-gradient(#585ce9);
}

#team .container .cards:hover ::after {
  height: 120px;
}

#team .container .cards:hover i {
  color: #fff;
}

#team .container .cards .content {
  padding: 5px 0;
  z-index: 9999999;
  letter-spacing: 1px;
  color: #fff;
}

#team .container .cards .content h4 {
  font-size: 16px;
}

#team .container .cards .content span {
  font-size: 14px;
}

#team .container .cards ul {
  z-index: 58888;
}

#team .container .cards ul li {
  display: inline;
  list-style: none;
  margin-right: 15px;
}

#team .container .cards ul li a i {
  margin: 20px 0;
  font-size: 16px;
  color: #585ce9;
}

#team .container .cards p {
  color: #6F8BA4;
}

#team .container .cards .image img {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  border-radius: 100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#team .container .cards:hover img {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

#cover {
  background-image: url(/assets/images/home/1.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: -1;
}

#cover ::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #474bbb38;
  width: 100%;
  opacity: 0.5;
  height: 100%;
  z-index: -2;
}

#cover .row .content {
  text-align: center;
  margin-top: 10%;
  z-index: 3;
}

#cover .row .content h2 {
  color: #fff;
  font-size: 18px;
}

#cover .row .content hr {
  width: 40px;
  background-color: #fff;
  margin: 25px auto;
  opacity: 1;
}

#cover .row .content ul {
  margin: 25px 0;
  text-align: center;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

#cover .row .content ul li {
  margin-right: 15px;
}

#cover .row .content ul li i {
  margin-left: 7px;
}

#solution-intro {
  padding: 50px 0;
  background-color: #e1e9f1;
}

#solution-intro .left {
  color: #6F8BA4;
  font-size: 16px;
  letter-spacing: 1px;
}

#solution-intro .left .image img {
  border-radius: 15px;
}

#solution-intro .right .list {
  border: 1px solid #fff;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

#solution-intro .right .list ul {
  margin: 0;
  padding: 0px;
}

#solution-intro .right .list ul .first {
  background-color: #585ce9;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#solution-intro .right .list ul .first a {
  color: #fff;
}

#solution-intro .right .list ul li {
  padding: 20px 0;
  list-style: none;
  border-bottom: 1px solid #dbdbdb;
  background-color: #fff;
}

#solution-intro .right .list ul li span {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#solution-intro .right .list ul li a {
  text-decoration: none;
  color: #1e3056;
}

#solution-intro .right .list ul li a i {
  margin: 0 10px;
}

#solution-intro .right .list ul li:hover span {
  margin-left: 15px;
}

#solution-intro .small-image img {
  border-radius: 10px;
}

#solution-intro .popup {
  z-index: 888888888;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0000008a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

#solution-intro .popup .inner {
  position: relative;
}

#solution-intro .popup .inner img {
  width: 850px;
  height: 600px;
}

#solution-intro .popup .inner .close-icon {
  position: absolute;
  top: -30px;
  right: -20px;
  cursor: pointer;
}

#solution-intro .popup .inner .close-icon i {
  color: #1e3056;
  font-size: 35px;
}

#solution-intro .popup .inner .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 45%;
}

#solution-intro .popup .inner .arrows i {
  cursor: pointer;
  color: #1e3056;
  font-size: 35px;
}

#about-us-intro {
  padding-top: 100px;
}

#about-us-intro .container .row .top {
  text-align: center;
  line-height: 30px;
  letter-spacing: 2px;
}

#about-us-intro .container .row .top h2 {
  color: #1e3056;
  line-height: 80px;
  font-weight: 400;
  font-size: 25px;
}

#about-us-intro .container .row .top p {
  color: #6F8BA4;
  font-size: 14px;
}

#mission {
  background-color: #e1e9f1;
  padding: 100px 0;
}

#mission .image {
  overflow: hidden;
}

#mission .image img {
  z-index: -3;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#mission .image img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#mission .content {
  z-index: -2;
  margin-top: 50px;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  color: #6F8BA4;
  padding: 10px 20px;
  border: 1px solid #fff;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

@media only screen and (max-width: 990px) {
  #mission {
    background-color: #e1e9f1;
  }
  #mission .image {
    overflow: hidden;
  }
  #mission .image img {
    width: 100%;
    z-index: -3;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  #mission .image img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  #mission .content {
    z-index: -2;
    margin-top: 0px;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    color: #6F8BA4;
    padding: 10px 20px;
    border: 1px solid #fff;
    -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
}

#vision {
  background-color: #e1e9f1;
  padding: 100px 0;
}

#vision .content {
  z-index: -2;
  margin-top: 50px;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
  color: #6F8BA4;
  padding: 10px 20px;
  border: 1px solid #fff;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

#vision .image {
  overflow: hidden;
}

#vision .image img {
  z-index: -3;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

@media only screen and (max-width: 990px) {
  #vision {
    background-color: #e1e9f1;
  }
  #vision .image {
    overflow: hidden;
  }
  #vision .image img {
    width: 100%;
    z-index: -3;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  #vision .image img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  #vision .content {
    z-index: -2;
    margin-top: 0px;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    color: #6F8BA4;
    padding: 10px 20px;
    border: 1px solid #fff;
    -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
}

#faqs-intro {
  margin: 100px 0;
}

#faqs-intro .left h3 {
  color: #585ce9;
}

#faqs-intro .left p {
  color: #6F8BA4;
  margin: 25px 0;
  letter-spacing: 1px;
}

#faqs-intro .left .btn {
  background-color: #585ce9;
  border: #585ce9;
}

#faqs-intro .items {
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
}

#faqs-intro .items .accordion-item {
  border: 1px solid #fff;
}

#faqs-intro .items .accordion-item h2 {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#faqs-intro .items .accordion-item:hover h2 {
  margin-left: 10px;
}

#faqs-intro .items .accordion-item .accordion-body {
  color: #6F8BA4;
}

#features-intro {
  background-color: #e1e9f1;
  padding: 100px 0;
}

#features-intro .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#features-intro .container .row .features-box {
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #fff;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  height: 80%;
  margin-left: 5px;
}

#features-intro .container .row .features-box .image-icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  border-radius: 15px;
  position: relative;
}

#features-intro .container .row .features-box .image-icon img {
  z-index: 3;
}

#features-intro .container .row .features-box .image-icon::after {
  content: "";
  background-color: #e1e9f1;
  z-index: -2;
  width: 100px;
  height: 100px;
}

#features-intro .container .row .features-box .text h5 {
  color: #1e3056;
}

#features-intro .container .row .features-box .text p {
  color: #6F8BA4;
}

@media only screen and (max-width: 990px) {
  #features-intro .features-box {
    text-align: center;
    padding-bottom: 100px;
  }
  #features-intro .features-box .image-icon {
    position: relative;
    border-radius: 15px;
  }
  #features-intro .features-box .image-icon img {
    z-index: 3;
    margin: 35px;
  }
  #features-intro .features-box .image-icon::after {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    content: "";
    position: absolute;
    width: 100%;
    background-color: #e1e9f1;
    z-index: -2;
    padding: 50px;
  }
  #features-intro .features-box .text h5 {
    margin-top: 30px;
    color: #1e3056;
  }
  #features-intro .features-box .text p {
    color: #6F8BA4;
    padding: 0 0 50px 0;
  }
}

ul li {
  list-style: none;
}

#map .small-map .gmap_canvas {
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
}

#map .map-content {
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #fff;
  width: 60%;
  padding: 25px;
  background-color: #585ce9;
  -webkit-transform: translate(35%, -50%);
          transform: translate(35%, -50%);
}

#map .social-icon ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#map .social-icon ul li {
  padding: 10px;
}

#map .social-icon ul li a i {
  color: #fff;
}

@media only screen and (max-width: 990px) {
  #cover {
    padding: 50px  0 0 0;
  }
  #map .small-map .gmap_canvas {
    -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
    width: 250px;
    height: 400px;
    -webkit-transform: translate(10%, 0%);
            transform: translate(10%, 0%);
  }
  #map .map-content {
    -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #fff;
    width: 60%;
    background-color: #585ce9;
    -webkit-transform: translate(35%, -10%);
            transform: translate(35%, -10%);
  }
  #map .social-icon ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #map .social-icon ul li {
    padding: 5px;
  }
  #map .social-icon ul li a i {
    color: #fff;
  }
}

#contact-message {
  background-color: #e1e9f1;
  padding: 100px 0;
}

#contact-message h5 {
  color: #6F8BA4;
  line-height: 60px;
}

#contact-message p {
  color: #6F8BA4;
  font-size: 14px;
}

#contact-message .btn {
  background-color: #585ce9;
  border: none;
}

#preloader {
  overflow: hidden;
  background-image: linear-gradient(135deg, #585CE9 0%, #5C83E3 100%);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 99996666666666;
}

#preloader.loader-hide {
  -webkit-animation: hiding 2s forwards;
          animation: hiding 2s forwards;
}

#preloader #loader {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
}

#preloader #loader #shadow {
  width: 50px;
  height: 5px;
  background: black;
  opacity: 0.1;
  position: absolute;
  top: 59px;
  left: 0;
  border-radius: 50%;
  -webkit-animation: shadow .5s linear infinite;
          animation: shadow .5s linear infinite;
}

#preloader #loader #box {
  width: 50px;
  height: 50px;
  background: #fff;
  -webkit-animation: animate .5s linear infinite;
          animation: animate .5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
}

@-webkit-keyframes loader {
  0% {
    left: -100px;
  }
  100% {
    left: 110%;
  }
}

@keyframes loader {
  0% {
    left: -100px;
  }
  100% {
    left: 110%;
  }
}

@-webkit-keyframes animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    -webkit-transform: translateY(9px) rotate(22.5deg);
            transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    -webkit-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
            transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    -webkit-transform: translateY(9px) rotate(67.5deg);
            transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(90deg);
            transform: translateY(0) rotate(90deg);
  }
}

@keyframes animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    -webkit-transform: translateY(9px) rotate(22.5deg);
            transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    -webkit-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
            transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    -webkit-transform: translateY(9px) rotate(67.5deg);
            transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(90deg);
            transform: translateY(0) rotate(90deg);
  }
}

@-webkit-keyframes shadow {
  50% {
    -webkit-transform: scale(1.2, 1);
            transform: scale(1.2, 1);
  }
}

@keyframes shadow {
  50% {
    -webkit-transform: scale(1.2, 1);
            transform: scale(1.2, 1);
  }
}

@-webkit-keyframes hiding {
  100% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}

@keyframes hiding {
  100% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}

#page-bottom {
  margin: 50px 0px;
}

#page-bottom p {
  color: #6F8BA4;
}

#page-bottom .container .row .left {
  padding: 0px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
}

#page-bottom .container .row .left .image {
  width: 100%;
}

#page-bottom .container .row .left .image img {
  width: 100%;
}

#page-bottom .container .row .left .comments {
  margin-top: 20px;
  color: #585ce9;
}

#page-bottom .container .row .left .comments i {
  margin-left: 25px;
}

#page-bottom .container .row .left .row {
  padding: 0px 10px;
}

#page-bottom .container .row .left .row .cards {
  margin: 25px 0px;
}

#page-bottom .container .row .left .row .cards img {
  border-radius: 10px;
  width: 100%;
}

#page-bottom .container .row .left .text {
  border-radius: 5px;
  width: 95%;
  background-color: #e1e9f1;
}

#page-bottom .container .row .left .text p {
  margin-top: 35px;
}

#page-bottom .container .row .left .text h5 {
  margin-top: 35px;
}

#page-bottom .container .row .left .bottom {
  width: 95%;
  margin: 35px 0px;
}

#page-bottom .container .row .list-tags .list {
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
}

#page-bottom .container .row .list-tags .list ul {
  margin: 0;
  padding: 0px;
}

#page-bottom .container .row .list-tags .list ul li {
  cursor: pointer;
  padding: 10px 0;
  list-style: none;
  border-bottom: 1px solid #e1e9f1;
}

#page-bottom .container .row .list-tags .list ul li i {
  margin-left: 20px;
  color: #6F8BA4;
}

#page-bottom .container .row .list-tags .list ul li:hover a {
  margin-left: 20px;
}

#page-bottom .container .row .list-tags .list ul li a {
  text-decoration: none;
  padding: 0 40px;
  color: #1e3056;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-weight: 300;
}

#page-bottom .container .row .list-tags .list ul li a span {
  float: right;
  margin-right: 20px;
  background-color: #585ce9;
  border-radius: 10px;
  color: #fff;
  padding: 0 10px;
}

#page-bottom .container .row .list-tags .tag {
  margin-top: 50px;
  padding: 25px;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

#page-bottom .container .row .list-tags .tag a {
  background-color: #e1e9f1;
  text-decoration: none;
  padding: auto;
  margin-left: 10px;
  margin-bottom: 20px;
  display: inline-block;
  color: #1e3056;
  font-weight: 300;
  padding: 0 15px;
  border-radius: 10px;
}

#page-bottom .container .row .list-tags .tag a:hover {
  background-color: #585ce9;
  color: #fff;
}

#page-bottom .container .row .list-tags .box-img {
  margin-top: 50px;
  position: relative;
}

#page-bottom .container .row .list-tags .box-img .image {
  width: 100%;
}

#page-bottom .container .row .list-tags .box-img .image img {
  border-radius: 10px;
  width: 100%;
  z-index: -2;
}

#page-bottom .container .row .list-tags .box-img .image::after {
  content: " ";
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: #585ce9;
  opacity: .5;
  z-index: 1;
  border-radius: 10px;
}

#page-bottom .container .row .list-tags .box-img .hovered p {
  color: #fff;
}

#page-bottom .container .row .list-tags .box-img .hovered .btn {
  color: #585ce9;
  background-color: #fff;
  border: none;
}

#page-bottom .container .row .list-tags .box-img .hovered .btn:hover {
  color: #fff;
  background-color: #585ce9;
}

#page-bottom .container .row .list-tags .box-img .hovered {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

#page-bottom .container .share .left1 p {
  margin-left: 15px;
}

#page-bottom .container .share .right ul li {
  display: inline;
}

@media only screen and (max-width: 990px) {
  #page-bottom {
    margin: 50px 0px;
  }
  #page-bottom p {
    color: #6F8BA4;
  }
  #page-bottom .container .row .left {
    padding: 0px;
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  }
  #page-bottom .container .row .left .image {
    width: 100%;
  }
  #page-bottom .container .row .left .image img {
    width: 100%;
  }
  #page-bottom .container .row .left .comments {
    margin-top: 20px;
    color: #585ce9;
  }
  #page-bottom .container .row .left .comments i {
    margin-left: 25px;
  }
  #page-bottom .container .row .left .row {
    padding: 0px 10px;
  }
  #page-bottom .container .row .left .row .cards {
    margin: 25px 0px;
  }
  #page-bottom .container .row .left .row .cards img {
    border-radius: 10px;
    width: 100%;
  }
  #page-bottom .container .row .left .text {
    border-radius: 5px;
    width: 95%;
    background-color: #e1e9f1;
  }
  #page-bottom .container .row .left .text p {
    margin-top: 35px;
  }
  #page-bottom .container .row .left .text h5 {
    margin-top: 35px;
  }
  #page-bottom .container .row .left .bottom {
    width: 95%;
    margin: 35px 0px;
  }
  #page-bottom .container .row .list-tags .list {
    margin-top: 25px;
    -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
  }
  #page-bottom .container .row .list-tags .list ul {
    margin: 0;
    padding: 0px;
  }
  #page-bottom .container .row .list-tags .list ul li {
    cursor: pointer;
    padding: 10px 0;
    list-style: none;
    border-bottom: 1px solid #e1e9f1;
  }
  #page-bottom .container .row .list-tags .list ul li i {
    margin-left: 20px;
    color: #6F8BA4;
  }
  #page-bottom .container .row .list-tags .list ul li:hover a {
    margin-left: 20px;
  }
  #page-bottom .container .row .list-tags .list ul li a {
    text-decoration: none;
    padding: 0 40px;
    color: #1e3056;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    font-weight: 300;
  }
  #page-bottom .container .row .list-tags .list ul li a span {
    float: right;
    margin-right: 20px;
    background-color: #585ce9;
    border-radius: 10px;
    color: #fff;
    padding: 0 10px;
  }
  #page-bottom .container .row .list-tags .tag {
    margin-top: 50px;
    padding: 25px;
    -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  #page-bottom .container .row .list-tags .tag a {
    background-color: #e1e9f1;
    text-decoration: none;
    padding: auto;
    margin-left: 10px;
    margin-bottom: 20px;
    display: inline-block;
    color: black;
    font-weight: 300;
    padding: 0 15px;
    border-radius: 10px;
  }
  #page-bottom .container .row .list-tags .tag a:hover {
    background-color: #585ce9;
    color: #fff;
  }
  #page-bottom .container .row .list-tags .box-img {
    margin-top: 50px;
    position: relative;
  }
  #page-bottom .container .row .list-tags .box-img .image {
    width: 100%;
  }
  #page-bottom .container .row .list-tags .box-img .image img {
    border-radius: 10px;
    width: 100%;
    z-index: -2;
  }
  #page-bottom .container .row .list-tags .box-img .image::after {
    content: " ";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #585ce9;
    opacity: .5;
    z-index: 1;
    border-radius: 10px;
  }
  #page-bottom .container .row .list-tags .box-img .hovered p {
    color: #fff;
  }
  #page-bottom .container .row .list-tags .box-img .hovered .btn {
    color: #585ce9;
    background-color: #fff;
    border: none;
  }
  #page-bottom .container .row .list-tags .box-img .hovered .btn:hover {
    color: #fff;
    background-color: #585ce9;
  }
  #page-bottom .container .row .list-tags .box-img .hovered {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 2;
  }
  #page-bottom .container .share .left1 p {
    margin-left: 15px;
  }
  #page-bottom .container .share .right {
    float: right;
  }
  #page-bottom .container .share .right ul {
    margin-top: -40px;
    margin-left: 150px;
  }
  #page-bottom .container .share .right ul li {
    display: inline;
  }
}

#comments {
  margin-bottom: 50px;
}

#comments .container .row .box-left-comment {
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
}

#comments .container .row .box-left-comment .title {
  margin: 30px 0px;
}

#comments .container .row .box-left-comment .title h5 {
  margin-left: 15px;
  color: #6F8BA4;
}

#comments .container .row .box-left-comment .left-comment-list .comment-list .text {
  margin: 35px 5px;
  color: #6F8BA4;
}

#comments .container .row .box-left-comment .left-comment-list .comment-list .user-img img {
  width: 100%;
  border-radius: 10px;
}

#comments .container .row .box-left-comment .left-comment-list .comment-list .text-content {
  margin-top: 30px;
  color: #6F8BA4;
}

#comments .container .row .box-left-comment .left-comment-list .comment-list .reply-button {
  margin: 30px 20px;
}

#comments .container .row .box-left-comment .left-comment-list .comment-list .reply-button a {
  width: 100%;
  padding: 5px 20px;
  text-decoration: none;
  color: #6F8BA4;
  background-color: #e1e9f1;
  border-radius: 10px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-size: 14px;
}

#comments .container .row .box-left-comment .left-comment-list .comment-list .reply-button a:hover {
  background-color: #585ce9;
  color: #fff;
}

#comments .container .row .box-left-comment .left-comment-list .bottom-text {
  margin-top: 20px;
  width: 80%;
  color: #6F8BA4;
  margin-left: 50px;
}

#comments .container .row .box-left-comment .left-comment-list .bottom-comment {
  margin-left: 8%;
  width: 90%;
}

#comments .container .row .box-left-comment .left-comment-list .bottom-comment .comment-list .text {
  margin: 35px 5px;
  color: #6F8BA4;
}

#comments .container .row .box-left-comment .left-comment-list .bottom-comment .comment-list .user-img img {
  width: 100%;
  border-radius: 10px;
}

#comments .container .row .box-left-comment .left-comment-list .bottom-comment .comment-list .text-content {
  margin-top: 30px;
  color: #6F8BA4;
}

#comments .container .row .box-left-comment .left-comment-list .bottom-comment .bottom-text {
  margin-top: 20px;
  width: 80%;
  color: #6F8BA4;
  margin-left: 50px;
}

@media only screen and (max-width: 990px) {
  #comments {
    margin-bottom: 50px;
  }
  #comments .container .row .box-left-comment {
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  }
  #comments .container .row .box-left-comment .title {
    margin: 30px 0px;
  }
  #comments .container .row .box-left-comment .title h5 {
    margin-left: 15px;
    color: #6F8BA4;
  }
  #comments .container .row .box-left-comment .left-comment-list .comment-list .text {
    margin: 35px 5px;
    color: #6F8BA4;
  }
  #comments .container .row .box-left-comment .left-comment-list .comment-list .user-img img {
    width: 100%;
    border-radius: 10px;
  }
  #comments .container .row .box-left-comment .left-comment-list .comment-list .text-content {
    margin-top: 30px;
    color: #6F8BA4;
  }
  #comments .container .row .box-left-comment .left-comment-list .bottom-text {
    margin-top: 20px;
    width: 80%;
    color: #6F8BA4;
    margin-left: 50px;
  }
  #comments .container .row .box-left-comment .left-comment-list .bottom-comment {
    margin-left: 8%;
    width: 90%;
  }
  #comments .container .row .box-left-comment .left-comment-list .bottom-comment .comment-list .text {
    margin: 35px 5px;
    color: #6F8BA4;
  }
  #comments .container .row .box-left-comment .left-comment-list .bottom-comment .comment-list .user-img img {
    width: 100%;
    border-radius: 10px;
  }
  #comments .container .row .box-left-comment .left-comment-list .bottom-comment .comment-list .text-content {
    margin-top: 30px;
    color: #6F8BA4;
  }
  #comments .container .row .box-left-comment .left-comment-list .bottom-comment .bottom-text {
    margin-top: 20px;
    width: 80%;
    color: #6F8BA4;
    margin-left: 50px;
  }
}

#page-bottom {
  margin: 50px 0px;
}

#page-bottom p {
  color: #6F8BA4;
}

#page-bottom .container .row .left {
  padding: 0px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
}

#page-bottom .container .row .left .image {
  width: 100%;
}

#page-bottom .container .row .left .image img {
  width: 100%;
}

#page-bottom .container .row .left .comments {
  margin-top: 20px;
  color: #585ce9;
}

#page-bottom .container .row .left .row {
  padding: 0px 10px;
}

#page-bottom .container .row .left .row .cards {
  margin: 25px 0px;
}

#page-bottom .container .row .left .row .cards img {
  border-radius: 10px;
  width: 100%;
}

#page-bottom .container .row .left .text {
  border-radius: 5px;
  width: 95%;
  background-color: #e1e9f1;
}

#page-bottom .container .row .left .text p {
  margin-top: 35px;
}

#page-bottom .container .row .left .text h5 {
  margin-top: 35px;
}

#page-bottom .container .row .left .bottom {
  width: 95%;
  margin: 35px 0px;
}

#page-bottom .container .row .list-tags .list {
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
}

#page-bottom .container .row .list-tags .list ul {
  margin: 0;
  padding: 0px;
}

#page-bottom .container .row .list-tags .list ul li {
  cursor: pointer;
  padding: 10px 0;
  list-style: none;
  border-bottom: 1px solid #e1e9f1;
}

#page-bottom .container .row .list-tags .list ul li i {
  margin-left: 20px;
  color: #6F8BA4;
}

#page-bottom .container .row .list-tags .list ul li:hover a {
  margin-left: 20px;
}

#page-bottom .container .row .list-tags .list ul li a {
  text-decoration: none;
  padding: 0 40px;
  color: #1e3056;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-weight: 300;
}

#page-bottom .container .row .list-tags .list ul li a span {
  float: right;
  margin-right: 20px;
  background-color: #585ce9;
  border-radius: 10px;
  color: #fff;
  padding: 0 10px;
}

#page-bottom .container .row .list-tags .tag {
  margin-top: 50px;
  padding: 25px;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

#page-bottom .container .row .list-tags .tag a {
  background-color: #e1e9f1;
  text-decoration: none;
  padding: auto;
  margin-left: 10px;
  margin-bottom: 20px;
  display: inline-block;
  color: black;
  font-weight: 300;
  padding: 0 15px;
  border-radius: 10px;
}

#page-bottom .container .row .list-tags .tag a:hover {
  background-color: #585ce9;
  color: #fff;
}

#page-bottom .container .row .list-tags .box-img {
  margin-top: 50px;
  position: relative;
}

#page-bottom .container .row .list-tags .box-img .image {
  width: 100%;
}

#page-bottom .container .row .list-tags .box-img .image img {
  border-radius: 10px;
  width: 100%;
  z-index: -2;
}

#page-bottom .container .row .list-tags .box-img .image::after {
  content: " ";
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: #585ce9;
  opacity: .5;
  z-index: 1;
  border-radius: 10px;
}

#page-bottom .container .row .list-tags .box-img .hovered p {
  color: #fff;
}

#page-bottom .container .row .list-tags .box-img .hovered .btn {
  color: #585ce9;
  background-color: #fff;
  border: none;
}

#page-bottom .container .row .list-tags .box-img .hovered .btn:hover {
  color: #fff;
  background-color: #585ce9;
}

#page-bottom .container .row .list-tags .box-img .hovered {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

#page-bottom .container .share .left1 p {
  margin-left: 15px;
}

#page-bottom .container .share .right ul li {
  display: inline;
}

@media only screen and (max-width: 990px) {
  #page-bottom {
    margin: 50px 0px;
  }
  #page-bottom p {
    color: #6F8BA4;
  }
  #page-bottom .container .row .left {
    padding: 0px;
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
  }
  #page-bottom .container .row .left .image {
    width: 100%;
  }
  #page-bottom .container .row .left .image img {
    width: 100%;
  }
  #page-bottom .container .row .left .comments {
    margin-top: 20px;
    color: #585ce9;
  }
  #page-bottom .container .row .left .comments i {
    margin-left: 25px;
  }
  #page-bottom .container .row .left .row {
    padding: 0px 10px;
  }
  #page-bottom .container .row .left .row .cards {
    margin: 25px 0px;
  }
  #page-bottom .container .row .left .row .cards img {
    border-radius: 10px;
    width: 100%;
  }
  #page-bottom .container .row .left .text {
    border-radius: 5px;
    width: 95%;
    background-color: #e1e9f1;
  }
  #page-bottom .container .row .left .text p {
    margin-top: 35px;
  }
  #page-bottom .container .row .left .text h5 {
    margin-top: 35px;
  }
  #page-bottom .container .row .left .bottom {
    width: 95%;
    margin: 35px 0px;
  }
  #page-bottom .container .row .list-tags .list {
    margin-top: 25px;
    -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
  }
  #page-bottom .container .row .list-tags .list ul {
    margin: 0;
    padding: 0px;
  }
  #page-bottom .container .row .list-tags .list ul li {
    cursor: pointer;
    padding: 10px 0;
    list-style: none;
    border-bottom: 1px solid #e1e9f1;
  }
  #page-bottom .container .row .list-tags .list ul li i {
    margin-left: 20px;
    color: #6F8BA4;
  }
  #page-bottom .container .row .list-tags .list ul li:hover a {
    margin-left: 20px;
  }
  #page-bottom .container .row .list-tags .list ul li a {
    text-decoration: none;
    padding: 0 40px;
    color: #1e3056;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    font-weight: 300;
  }
  #page-bottom .container .row .list-tags .list ul li a span {
    float: right;
    margin-right: 20px;
    background-color: #585ce9;
    border-radius: 10px;
    color: #fff;
    padding: 0 10px;
  }
  #page-bottom .container .row .list-tags .tag {
    margin-top: 50px;
    padding: 25px;
    -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  #page-bottom .container .row .list-tags .tag a {
    background-color: #e1e9f1;
    text-decoration: none;
    padding: auto;
    margin-left: 10px;
    margin-bottom: 20px;
    display: inline-block;
    color: #1e3056;
    font-weight: 300;
    padding: 0 15px;
    border-radius: 10px;
  }
  #page-bottom .container .row .list-tags .tag a:hover {
    background-color: #585ce9;
    color: #fff;
  }
  #page-bottom .container .row .list-tags .box-img {
    margin-top: 50px;
    position: relative;
  }
  #page-bottom .container .row .list-tags .box-img .image {
    width: 100%;
  }
  #page-bottom .container .row .list-tags .box-img .image img {
    border-radius: 10px;
    width: 100%;
    z-index: -2;
  }
  #page-bottom .container .row .list-tags .box-img .image::after {
    content: " ";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #585ce9;
    opacity: .5;
    z-index: 1;
    border-radius: 10px;
  }
  #page-bottom .container .row .list-tags .box-img .hovered p {
    color: #fff;
  }
  #page-bottom .container .row .list-tags .box-img .hovered .btn {
    color: #585ce9;
    background-color: #fff;
    border: none;
  }
  #page-bottom .container .row .list-tags .box-img .hovered .btn:hover {
    color: #fff;
    background-color: #585ce9;
  }
  #page-bottom .container .row .list-tags .box-img .hovered {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 2;
  }
  #page-bottom .container .share .left1 p {
    margin-left: 15px;
  }
  #page-bottom .container .share .right {
    float: right;
  }
  #page-bottom .container .share .right ul {
    margin-top: -40px;
    margin-left: 150px;
  }
  #page-bottom .container .share .right ul li {
    display: inline;
  }
}

#blogs-card .container .row .blog-box {
  text-align: center;
}

#blogs-card .container .row .blog-box i {
  color: #585ce9;
}

#blogs-card .container .row .blog-box span {
  color: #585ce9;
}

#blogs-card .container .row .blog-box .image {
  border: 1px solid #fff;
  border-radius: 10px;
  width: 100%;
  height: 40%;
  overflow: hidden;
}

#blogs-card .container .row .blog-box .image img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#blogs-card .container .row .blog-box h3 {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 30px;
  margin: 25px 0;
}

#blogs-card .container .row .blog-box h3 a {
  text-decoration: none;
  color: #1e3056;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#blogs-card .container .row .blog-box h3 a:hover {
  color: #585ce9;
}

#blogs-card .container .row .blog-box p {
  color: #6F8BA4;
}

#blogs-card .container .row .blog-box .btn {
  background-color: #585ce9;
  border: none;
  width: 50%;
  font-size: 16px;
}

body {
  overflow-x: hidden;
  padding: 0px;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}
