#faqs-intro{
    margin: 100px 0;
    .left{
        h3{
            color: $main-color;
        }
        p{
            color: $text-color;
            margin: 25px 0;
            letter-spacing: $letter-spacing;
        }
        .btn{
            background-color: $main-color;
            border: $main-color;
        }
    }
   .items{
        box-shadow: $box-shadow;
        .accordion-item{
            border: 1px solid $light-color;
            h2{
                transition: $transition-4s;
            }
            &:hover{
                h2{
                    margin-left: 10px;
                }
            }
            .accordion-body{
                color: $text-color;
            }
        }
    }
}