#submit-contact{
    margin-top: 50px;
    .text{
        h2{
            color: $text-color;
        }
        p{
            margin-top: 20px;
        }
    }
    .submit-contact{
       .box-contact{
           width: 80%;
           border-radius: $border-radius;
           .submit-btn{
               background-color: $main-color;
           }
       }
    }
}