#contact-message{
    background-color: $background-color;
    padding: $section-padding;
    h5{
        color: $text-color;
        line-height: 60px;
    }
    p{
        color: $text-color;
        font-size: $font-size-14;
    }
    .btn{
        background-color: $main-color;
        border: none;
    }
}