ul{
    li{
        list-style: none;
    }
}
#map{
    .small-map{
        .gmap_canvas{
            box-shadow: $box-shadow;
         }
    }
    .map-content{
        box-shadow: $box-shadow;
        text-align: center;
        color: $light-color;
        width: 60%;
        padding: 25px;
        background-color: $main-color;
        transform: translate(35%, -50%);
    }
    .social-icon{
        ul{
            display: flex;
           justify-content: center;
            li{
                padding: 10px;
                a{
                    i{
                        color: $light-color;
                    }
                }
            }
            
        }
    }
}

@media only screen and (max-width: 990px){
    #cover{
        padding: 50px  0 0 0;
    }
    #map{
        .small-map{
            .gmap_canvas{
                box-shadow: $box-shadow;
                width: 250px;
                height: 400px;
                 transform: translate(10%, 0%);
             }
        }
        .map-content{
            box-shadow: $box-shadow;
            text-align: center;
            color: $light-color;
            width: 60%;
            background-color: $main-color;
            transform: translate(35%, -10%);
        }
        .social-icon{
            ul{
                display: flex;
               justify-content: center;
                li{
                    padding: 5px;
                    a{
                        i{
                            color: $light-color;
                        }
                    }
                }
                
            }
        }
    }

}